.title-news {
    max-width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.groups-news span {
    display: none;
}

.section-search-form {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-search {
        width: 350px;
    }
}


.news-top-view {
    .more-link {
        display: none;
    }
}

.news-page {
    &-img {
        width: 100%;
        margin-bottom: 25px;
    }

    &-footer {
        border-top: 1px solid #dfdfdf;
        padding: 15px 20px;
    }
}


.buttons-Comment {
    padding: 20px;
}

.my-comment-form {
    padding: 20px;

    &-title {
        @extend %input-commnet;

        input {
            padding: 10px;
        }
    }

    &-body {
        @extend %input-commnet;

        textarea {
            padding: 10px;
        }
    }
}

%input-commnet {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}



.comment-item {
    margin: 15px 0;

    &-title {
        margin-bottom: 15px;
    }

    &-body {
        h2 {
            margin-bottom: 15px;
            font-size: 18px;
        }
    }

    &-option {
        margin: 10px 0;
        padding: 1px;
        position: relative;
        overflow: hidden;

        input[type=checkbox] {
            display: none;


            &:checked ~ .comment-item-option-buttons {
                margin-top: 35px;
                height: 35px;
            }

            &:checked ~ .comment-item-option-plus:before, &:checked ~ .comment-item-option-plus {
                transform: rotate(0deg);
                background-color: #ac2925;
            }
        }

        &-plus {
            @extend %optin-plus;
            height: 5px;
            width: 25px;
            margin: 17px 10px;

            &:before {
                @extend %optin-plus;
                content: ' ';
                width: 100%;
                height: 100%;
                transform: rotate(90deg);
            }
        }

        &-buttons {
            overflow: hidden;
            height: 0;
            transition: height .2s ease-in-out, margin-top .2s ease-in-out;
            margin-top: 0;
        }
    }
}

%optin-plus {
    border-radius: 10px;
    display: block;
    background: #0070ff;
    transition: transform .3s ease-in-out,background-color .3s ease-in-out;
}

.d-none {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.show-date-time {
    text-align: right;
    direction: ltr;
}

.tag {
    display: inline-block;
    padding: 2px 4px;
    margin: 2px 3px;
    background-color: darkgray;
    color: black;
    border-radius: 3px;
}

.img-details {
    margin: 10px;
}

select.form-control {
    height: 40px !important;
}


.text-for-show {
    @extend %hidden-text;
    display: block;
}

.w-55 {
    width: 55%;
}

%hidden-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-news-in-table {
    @extend %hidden-text;
    max-width: 335px;
}

.outer-table-news {
    overflow-x: auto
}

.button-Circle-section {
    width: max-content;

    &-circle {
        background-color: black;
        border-radius: 50%;
        position: absolute;
        width: 20px;
        height: 20px;
        transition: top .3s ease-in-out, left .3s ease-in-out, bottom .3s ease-in-out, right .3s ease-in-out, top .3s ease-in-out;
    }

    .circle-1 {
        top: 0;
        left: 0;
    }

    .circle-2 {
        bottom: 0;
        right: 0;
    }

    &-button {
        position: relative;
        padding: 10px 20px;
        background-color: black;
        border-radius: 5px;
        color: white;

        &:hover, &:focus {
            color: white;
        }

        &:hover {
            .circle-1 {
                top: -10px;
                left: -10px;
            }

            .circle-2 {
                bottom: -10px;
                right: -10px;
            }
        }

        &:active {
            .circle-1 {
                top: -25px;
                left: -25px;
            }

            .circle-2 {
                bottom: -25px;
                right: -25px;
            }
        }
    }
}

.available-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;

    &-outer-image {
        width: 120px;
        position: relative;
        margin: 15px 25px;
        align-items: center;
        justify-content: center;
        display: inherit;

        .btn-img-delete {
            position: absolute;
            top: -15px;
            left: -15px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
    }

    &-image {
        width: 100%;
    }
}
