@model IEnumerable<PreviewNewsViewModel>
<!-- most views news -->
<section class="last-news-side border-radius news-top-view">
    <header><i class="icons icon-star"></i> <h3> پربازدیدترین اخبار </h3></header>
    <partial name="_ResultArchive" model="@Model" />
</section>
<!-- end most views news -->